.notification {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 130%;
  margin-top: 1.5rem;

  #cross, #nought {
    width: 1.2rem;
    margin-right: 2px;
    stroke-width: 2px;
    stroke-dashoffset: 0;
    animation: none;
  }

  #nought {
    width: 1.1rem;
  }
}