.score-bar {
  width: 35rem;
  display: flex;
  justify-content: space-between;

  .left-bar, .right-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding: 0.65rem 2rem;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 7px;
    background-color: #fff;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }

    &:active {
      box-shadow: 0 1px 1px #cdcdcd;
    }

    .score {
      font-size: 250%;
    }
  }

  .active {
    box-shadow: 0 4px 5px 2px #cdcdcd;
    border-bottom: 2px solid rgb(0, 115, 128);

    &:active {
      box-shadow: 0 4px 5px 2px #cdcdcd;
    }
  }

  .cross, .nought {
    #cross, #nought {
      width: 2rem;
      stroke-width: 3px;
      stroke-dashoffset: 0;
      animation: none;
    }

    .score {
      vertical-align: center;
    }
  }
}

@media screen and (max-width: 450px) {
  .score-bar {
    width: 21.5rem;

    .left-bar, .right-bar {
      padding: 0.65rem;
    }

    .cross, .nought {
      #cross, #nought {
        width: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 385px) {
  .score-bar {
    width: 20rem;
  }
}