#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 62.5%;
}

.board {
  display: grid;
  padding: 4rem;
  grid-template-columns: 10rem 10rem 10rem;

  .cell {
    aspect-ratio: 1 / 1;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-border, .db-border {
    border-right: 0.3rem solid #000;
  }

  .db-border, .bot-border {
    border-bottom: 0.3rem solid #000;
  }
}

#nought{
  width: 80%;
  stroke: black;
  fill: white;
  rotate: -90deg;
  transform: rotate3d(1, 0, 0, 180deg);
  stroke-dasharray: 236%;
  stroke-dashoffset: 236%;
  animation: 0.3s ease-in forwards nought;
}

@keyframes nought {
  0% {
    stroke-dashoffset: 236%;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

#cross {
  width: 80%;
  stroke: black;
  stroke-width: 5%;
  fill: white;
  rotate: 90deg;
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: .3s ease-in forwards cross;
}

@keyframes cross {
  0% {
    stroke-dashoffset: 100%;
  }

  100% {
    stroke-dashoffset: 0;
  }
}